// color
$white: #fff;
$black: #0e0d0d;
$text-color: #716f6f;

// font
$family: 'Poppins', sans-serif;

// breakpoint
$small: '(min-width: 768px)';
$mobile: '(max-width: 767px)';
$skiny: '(max-width: 570px)';